body {
  background-color: whitesmoke;
}

header {
  background-color: rgb(46, 46, 46);
  position: relative;
  display: flex;
  margin-left: -9px;
  margin-right: -8px;
  margin-top: -8px;
  padding: 10px;
  font-size: 20px;
  color: #969696;
  font-family: Arial;
}

#headerimg {
  padding-left: 170px;
}
body nav {
  padding-left: 0px;
}
body nav ul li {
  display: inline-flex;
  position: relative;
  margin-right: 60px;
}

main section div:first-child img {
  padding-top: 20px;
  padding-left: 170px;
  width: 960;
  height: 450px;
}

#subimage1 {
  width: 300px;
  height: 375px;
  padding-right: 25px;
}

#subimage2 {
  width: 300px;
  height: 375px;
  padding-left: 0px;
}

#subimage3 {
  width: 300px;
  height: 375px;
  padding-left: 25px;
}

/* text */
main article div:nth-child(2) b {
  margin-right: 190px;
  padding-top: 20px;
  margin-left: 670px;
  display: block;
}
.text {
  float: right;
}

main article :first-child img {
  padding-left: 170px;
  padding-top: 70px;
  width: 480px;
  height: 400px;
  float: left;
  margin: initial;
  margin-top: -50;
}

footer {
  background-color: rgb(46, 46, 46);
  clear: both;
  height: 100px;
  margin-top: 120px;
  margin-bottom: -9px;
  margin-right: -8px;
  margin-left: -8;
}

#butt {
  background-color: black;
  padding: 7px 30px;
  color: #969696;
  font-weight: 600;
  margin: 7px 19px;
}
